{% use '@SemanticUi/form/semantic_2_layout.html.twig' %}

{%- block checkbox_row -%}
    <div class="ui checkbox" {{ block('row_attributes') }}>
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
    </div>
    {{- form_errors(form) -}}
{%- endblock checkbox_row -%}

{%- block checkbox_widget -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget %}

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div {{ block('row_attributes') }}>
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_help(form) -}}
    </div>
    {{- form_errors(form) -}}
{%- endblock form_row -%}

{%- block choice_widget_collapsed -%}
    {%- set attr = attr|merge({class: ('inverted ' ~ attr.class|default(''))|trim}) -%}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{%- block datetime_widget -%}
    {% apply spaceless %}
        {% if widget == 'single_text' %}
            {% set type = 'text' %}
            <div class="ui inverted calendar" id="standard_calendar">
                <div class="ui input left icon">
                    <i class="calendar inverted icon"></i>
                    {{ block('form_widget_simple') }}
                </div>
            </div>
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form.date) }}
                {{ form_errors(form.time) }}
                <div class="fields">
                    <div class="field">
                        {{ form_widget(form.date) }}
                    </div>
                    <div class="field">
                        {{ form_widget(form.time) }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endapply %}
{%- endblock datetime_widget -%}
