{% use '@SemanticUi/form/semantic_2_layout.html.twig' %}

{%- block checkbox_row -%}
    <div class="ui checkbox" {{ block('row_attributes') }}>
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
    </div>
    {{- form_errors(form) -}}
{%- endblock checkbox_row -%}

{%- block checkbox_widget -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget %}

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div {{ block('row_attributes') }}>
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_help(form) -}}
    </div>
    {{- form_errors(form) -}}
{%- endblock form_row -%}

{%- block choice_widget_collapsed -%}
    {%- set attr = attr|merge({class: ('inverted ' ~ attr.class|default(''))|trim}) -%}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}
