<div class="ui card">
    <div class="content">
        {% if profile.image.name is not empty %}
        <img class="right floated mini ui image" src="{{ vich_uploader_asset(profile, 'imageFile') | imagine_filter('squared_thumbnail') }}">
        {% else %}
        <img class="right floated mini ui image" src="{{ asset('assets/images/default.png') | imagine_filter('squared_thumbnail') }}">
        {% endif %}
        <div class="header">
            Hola, {{ profile.username  }}
        </div>
        <div class="meta">

        </div>
        <div class="description">
            {{ profile.degree }}
        </div>
    </div>
    <a class="ui bottom attached button" href="{{ path('profile_edit') }}">
        <i class="edit icon"></i>
        Editar perfil
    </a>
</div>
