<div class="ui compact dropdown topmenu basic button item">
    <div class="current text">
        <i class="{{ icon }} icon"></i>
        <span class="name">{{ name }}</span>
    </div>
    <i class="dropdown icon"></i>
    <div class="menu">
        <a class="item" href="{{ path('idea_index') }}">
            <i class="home icon"></i>
            <span class="name">Inicio</span>
        </a>
        {% for group in groups %}
            <a href="{{ path('idea_group_index', {'slug': group.slug}) }}" class="item">
                <i class="{{ group.icon }} icon"></i>
                <span class="name">{{ group.name }}</span>
            </a>
        {% endfor %}
    </div>
</div>
