<div class="right menu">
    <div class="ui dropdown item" id="login">
        <div class="text">
            {% if profile.image.name is not empty %}
                <img class="avatar ui image" src="{{ vich_uploader_asset(profile, 'imageFile') | imagine_filter('squared_thumbnail') }}">
            {% else %}
                <img class="avatar ui image" src="{{ asset('assets/images/default.png')  }}">
            {% endif %}
            {{ app.user.alias ?? app.user.username }}
        </div>
        <i class="dropdown icon"></i>
        <div class="menu">
            {% if is_granted('ROLE_ADMIN') %}
            <a class="item" href="{{ path('sonata_admin_dashboard') }}">
                <i class="lock icon"></i>
                Administrar
            </a>
            {% endif %}
            <a class="item" href="{{ path('profile_edit') }}">
                <i class="edit icon"></i>
                Editar perfil
            </a>
            <a class="item" href="{{ path('profile_show') }}">
                <i class="user icon"></i>
                Ver curriculum
            </a>
            <a class="item" href="{{ path('logout') }}"><i class="sign out icon"></i> Salir</a>
        </div>
    </div>
</div>
