
{% extends "base.html.twig" %}

{% block body %}
    <div class="ui grid">
        <div class="row">
            <div class="ui inverted idea fluid card">
                <div class="content">
                    <div class="ui grid">
                        <div class="two column">
                            {{ form_start(form, {attr: {id: 'edit-profile', class: 'inverted'}, method: 'POST', action: path('profile_edit')}) }}
                            <h2 class="ui inverted header">Editar perfil</h2>

                            <div class="ui divider"></div>
                            {{ form_errors(form) }}

                            <div class="three fields">
                                {{ form_row(form.alias) }}
                                {{ form_row(form.firstname) }}
                                {{ form_row(form.lastname) }}
                            </div>
                            {{ form_row(form.nic) }}
                            {{ form_row(form.imageFile) }}
                            {{ form_row(form.collective) }}
                            {% if not app.user.isExternal %}
                                <div class="two fields">
                                    {{ form_row(form.degree) }}
                                    {{ form_row(form.year) }}
                                </div>
                                <a class="ui inverted basic button" id="clear-degree">Borrar selección</a>
                            {% endif %}

                            <div class="ui divider"></div>

                            <div class="ui inverted submit button">Guardar</div>
                            <div class="ui inverted negative labeled icon button" id="remove">
                                <i class="warning icon"></i>
                                Borrar usuario
                            </div>

                            {{ form_widget(form._token) }}
                            {{ form_end(form, {'render_rest': false}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    <div class="ui inverted remove tiny modal" style="display: none">
        <div class="header">Borrar usuario</div>
        <div class="content">
            <p>Esta acción es irreversible. Si borra su usuario se eliminarán todos los registros
                a las actividades que haya asistido.</p>
            <p>Escriba "Estoy seguro" y pulse Confirmar para continuar.</p>
            <div class="ui input">
                <input name="iamsure" type="text" placeholder="Estoy seguro">
            </div>
        </div>
        <div class="actions">
            <form action="{{ path('profile_remove') }}" method="post" >
                <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                <div class="ui black deny button">
                    Cancelar
                </div>
                <button type="submit" class="ui disabled positive right labeled icon button">
                    Confirmar
                    <i class="checkmark icon"></i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}
