{% extends "base.html.twig" %}

{% block vich_image_widget %}
{% endblock %}

{% block body %}
    <div class="ui grid">
        <div class="row">
            <div class="ui idea fluid card">
                <div class="content">
                    {% if app.user.collective is empty %}
                        <div class="ui floating warning icon message">
                            <i class="exclamation icon"></i>
                            <div class="content">
                                <div class="header">
                                    Debes registrarte antes de seguir.
                                </div>
                                Completa el siguiente formulario.
                            </div>
                        </div>
                    {% endif %}
                    <div class="ui grid">
                        <div class="two column">
                            {{ form_start(form, {method: 'POST', action: path('profile_edit')}) }}
                            <h2 class="ui header">Editar perfil</h2>

                            <div class="ui divider"></div>
                            {{ form_errors(form) }}
                            <div class="two fields">
                                {{ form_row(form.firstname) }}
                                {{ form_row(form.lastname) }}
                            </div>
                            {{ form_row(form.imageFile) }}
                            {{ form_row(form.biography) }}
                            {{ form_row(form.collective) }}
                            {{ form_row(form.degree) }}
                            <a class="ui basic button" id="clear-degree">Borrar selección</a>
                            {{ form_row(form.year) }}

                            {# Configuración de telegram #}
                            {% if app.user.telegramChat is not null %}
                                {{ form_row(form.telegramChat) }}
                            {% endif %}
                            Actívalos para recibir comentarios en las ideas que has creado.

                            <div class="ui divider"></div>
                            <div class="ui submit button">Guardar</div>

                            {{ form_widget(form._token) }}
                            {{ form_end(form, {'render_rest': false}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('select')
            .dropdown({ fullTextSearch: true })
        ;
        $('#clear-degree').click(function() {
            $('#profile_degree').dropdown('clear')
        })

        $.fn.form.settings.rules.collective = function(value, required) {
            var collective = $('.ui.form').form('get value', 'profile[collective]');

            return collective !== required || value;
        };

        $('.ui.form')
            .form({
                on: 'blur',
                inline : true,
                fields: {
                    profile_firstname: {
                        identifier: 'profile_firstname',
                        rules: [{
                            type: 'empty',
                            prompt: 'Indica tu nombre'
                        }]
                    },
                    profile_lastname: {
                        identifier: 'profile_lastname',
                        rules: [{
                            type: 'empty',
                            prompt: 'Indica tus apellidos'
                        }]
                    },
                    profile_collective: {
                        identifier: 'profile_collective',
                        rules: [{
                            type: 'empty',
                            prompt: 'Indica tu colectivo'
                        }]
                    },
                    profile_degree: {
                        identifier: 'profile_degree',
                        depends: 'profile_collective',
                        rules: [{
                            type: 'collective[student]',
                            prompt: 'Si eres alumno indica tus estudios'
                        }]
                    },
                    profile_year: {
                        identifier: 'profile_year',
                        depends: 'profile_collective',
                        rules: [{
                            type: 'collective[student]',
                            prompt: 'Indica el año de ingreso a tus estudios actuales'
                        }]
                    }
                }
            })
        ;
    </script>
{% endblock %}