
{% extends "base.html.twig" %}

{% block vich_image_widget %}
{% endblock %}

{% block body %}
    <div class="ui grid">
        <div class="row">
            <div class="ui idea fluid card">
                <div class="content">
                    {% if app.user.hasProfile is empty and app.user.collective is not empty %}
                        <div class="ui floating info icon message">
                            <i class="exclamation icon"></i>
                            <div class="content">
                                <div class="header">
                                    ¡Ahora puedes configurar tu nombre de usuario!
                                </div>
                                Por defecto es tu nombre de usuario pero puedes cambiarlo por otro.
                            </div>
                        </div>
                    {% elseif app.user.hasProfile is empty %}
                        <div class="ui floating warning icon message">
                            <i class="exclamation icon"></i>
                            <div class="content">
                                <div class="header">
                                    Debes registrarte antes de seguir.
                                </div>
                                Completa el siguiente formulario.
                            </div>
                        </div>
                    {% endif %}
                    <div class="ui grid">
                        <div class="two column">
                            {{ form_start(form, {method: 'POST', action: path('profile_edit')}) }}
                            <h2 class="ui header">Editar perfil</h2>

                            <div class="ui divider"></div>
                            {{ form_errors(form) }}

                            <div class="required field">
                                {{ form_label(form.alias) }}
                                {{ form_errors(form.alias) }}
                                {{ form_widget(form.alias) }}
                                <div style="font-size: 10px; padding-top: 5px;">
                                    {{ form_help(form.alias) }}
                                </div>
                            </div>
                            <div class="two fields">
                                {{ form_row(form.firstname) }}
                                {{ form_row(form.lastname) }}
                            </div>
                            {{ form_row(form.imageFile) }}
                            {{ form_row(form.biography) }}
                            {{ form_row(form.collective) }}
                            {% if not app.user.isExternal %}
                                {{ form_row(form.degree) }}
                                <a class="ui basic button" id="clear-degree">Borrar selección</a>
                                {{ form_row(form.year) }}
                            {% endif %}

                            <div class="ui divider"></div>

                            <div class="required field">
                                <div class="ui checkbox">
                                    {{ form_widget(form.terms) }}
                                    <label class="required" for="profile_terms">He leído y acepto la
                                        <a target="_blank" href="https://www.uco.es/organizacion/secretariageneral/proteccion-de-datos">Política de privacidad</a>,
                                        <a target="_blank" href="{{ path('terms') }}">Condiciones generales de uso</a> y
                                        <a target="_blank" href="{{ path('cookies') }}">Política de Cookies</a>.
                                    </label>
                                </div>
                            </div>

                            <table class="ui celled compact table">
                                <tbody>
                                <tr>
                                    <th>Responsable</th>
                                    <td>
                                        Aula de Software Libre<br/>
                                        Universidad de Córdoba<br/>
                                        Aulario Averroes. Campus de Rabanales<br/>
                                        Córdoba 14014<br/>
                                        Correo electrónico: aulasoftwarelibre@uco.es<br/>
                                        Contacto DPO: proteccion.datos@uco.es
                                    </td>
                                </tr>
                                <tr>
                                    <th>Finalidad</th>
                                    <td>
                                        Gestión de la participación en las actividades del Aula de Software Libre
                                    </td>
                                </tr>
                                <tr>
                                    <th>Legitimación</th>
                                    <td>
                                        Consentimiento del interesado.
                                    </td>
                                </tr>
                                <tr>
                                    <th>Destinatarios</th>
                                    <td>
                                        Los datos no serán cedidos a terceros.
                                    </td>
                                </tr>
                                <tr>
                                    <th>Derechos</th>
                                    <td>
                                        El usuario podrá revocar en cualquier momento su consentimiento, así como
                                        ejercitar, los derechos de oposición, acceso, portabilidad, rectificación,
                                        limitación y supresión de datos.
                                    </td>
                                </tr>
                                <tr>
                                    <th>Procedencia</th>
                                    <td>
                                        Para el caso de los usuarios conectados a través de proveedores de identidad
                                        distintos a la Universidad de Córdoba, los datos procederán de dichas redes.
                                        De ellas solo se almacenan un identificador opaco y la dirección de correo
                                        electrónico.
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="ui divider"></div>

                            <div class="ui submit button">Guardar</div>
                            <div class="ui negative labeled icon button" id="remove">
                                <i class="warning icon"></i>
                                Borrar usuario
                            </div>

                            {{ form_widget(form._token) }}
                            {{ form_end(form, {'render_rest': false}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    <div class="ui remove tiny modal">
        <div class="header">Borrar usuario</div>
        <div class="content">
            <p>Esta acción es irreversible. Si borra su usuario se eliminarán todos los registros
                a las actividades que haya asistido.</p>
            <p>Escriba "Estoy seguro" y pulse Confirmar para continuar.</p>
            <div class="ui input">
                <input name="iamsure" type="text" placeholder="Estoy seguro">
            </div>
        </div>
        <div class="actions">
            <form action="{{ path('profile_remove') }}" method="post" >
                <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                <div class="ui black deny button">
                    Cancelar
                </div>
                <button type="submit" class="ui disabled positive right labeled icon button">
                    Confirmar
                    <i class="checkmark icon"></i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('select')
            .dropdown({ fullTextSearch: true })
        ;
        $('#clear-degree').click(function() {
            $('#profile_degree').dropdown('clear')
        })

        $.fn.form.settings.rules.collective = function(value, required) {
            var collective = $('.ui.form').form('get value', 'profile[collective]');

            return collective !== required || value;
        };

        $('.ui.form')
            .form({
                on: 'blur',
                inline : true,
                fields: {
                    profile_firstname: {
                        identifier: 'profile_firstname',
                        rules: [{
                            type: 'empty',
                            prompt: 'Indica tu nombre'
                        }]
                    },
                    profile_lastname: {
                        identifier: 'profile_lastname',
                        rules: [{
                            type: 'empty',
                            prompt: 'Indica tus apellidos'
                        }]
                    },
                    profile_collective: {
                        identifier: 'profile_collective',
                        rules: [{
                            type: 'empty',
                            prompt: 'Indica tu colectivo'
                        }]
                    },
                    profile_degree: {
                        identifier: 'profile_degree',
                        depends: 'profile_collective',
                        rules: [{
                            type: 'collective[student]',
                            prompt: 'Si eres alumno indica tus estudios'
                        }]
                    },
                    profile_year: {
                        identifier: 'profile_year',
                        depends: 'profile_collective',
                        rules: [{
                            type: 'collective[student]',
                            prompt: 'Indica el año de ingreso a tus estudios actuales'
                        }]
                    },
                    profile_terms: {
                        identifier: 'profile_terms',
                        rules: [{
                            type: 'checked',
                            prompt: 'Debes aceptar las condiciones para continuar'
                        }]
                    }
                }
            })
        ;

        $('.remove.modal')
            .modal('attach events', '#remove', 'show')
        ;

        $('input[name=iamsure]').on('input', function(e) {
            const button = $('.remove.modal button');
            const message = $(this).val()

            if (message === "Estoy seguro") {
                button.removeClass('disabled');
                return;
            }

            if (button.hasClass('disabled')) {
                return;
            }

            button.addClass('disabled');
        })
    </script>
{% endblock %}
