
{% extends "base.html.twig" %}

{% block vich_image_widget %}
{% endblock %}

{% block body %}
    <div class="ui grid">
        <div class="row">
            <div class="ui idea fluid card">
                <div class="content">
                    <div class="ui grid">
                        <div class="two column">
                            {{ form_start(form, {attr: {id: 'register-profile'}, method: 'POST', action: path('profile_register')}) }}
                            <h2 class="ui header">Registrar usuario</h2>

                            <div class="ui divider"></div>
                            {{ form_errors(form) }}

                            <div class="three fields">
                                {{ form_row(form.alias) }}
                                {{ form_row(form.firstname) }}
                                {{ form_row(form.lastname) }}
                            </div>
                            {{ form_row(form.imageFile) }}
                            {{ form_row(form.collective) }}
                            {% if not app.user.isExternal %}
                                <div class="two fields">
                                    {{ form_row(form.degree) }}
                                    {{ form_row(form.year) }}
                                </div>
                                <a class="ui basic button" id="clear-degree">Borrar selección</a>
                            {% endif %}

                            <div class="ui divider"></div>

                            <div class="required field">
                                <div class="ui checkbox">
                                    {{ form_widget(form.terms) }}
                                    <label class="required" for="register_terms">He leído y acepto la
                                        <a target="_blank" href="https://www.uco.es/organizacion/secretariageneral/proteccion-de-datos">Política de privacidad</a>,
                                        <a target="_blank" href="{{ path('terms') }}">Condiciones generales de uso</a> y
                                        <a target="_blank" href="{{ path('cookies') }}">Política de Cookies</a>.
                                    </label>
                                    {{ form_errors(form.terms) }}
                                </div>
                            </div>

                            <table class="ui definition celled compact table">
                                <tbody>
                                <tr>
                                    <td>Responsable</td>
                                    <td>
                                        Universidad de Córdoba<br/>
                                        Av. Medina Azahara, s/n<br/>
                                        Córdoba 14071<br/>
                                        Correo electrónico de la administración del portal: aulasoftwarelibre@uco.es<br/>
                                        Contacto del Delegado de Protección de Datos: dpdatos@uco.es
                                    </td>
                                </tr>
                                <tr>
                                    <td>Finalidad</td>
                                    <td>
                                        Gestión de la participación en las actividades del Aula de Software Libre y envío de comunicaciones referentes a las mismas.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Legitimación</td>
                                    <td>
                                        Consentimiento del interesado.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Destinatarios</td>
                                    <td>
                                        Los datos no serán cedidos a terceros.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Derechos</td>
                                    <td>
                                        El usuario podrá revocar en cualquier momento su consentimiento, así como
                                        ejercitar, los derechos de oposición, acceso, portabilidad, rectificación,
                                        limitación y supresión de datos.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Procedencia</td>
                                    <td>
                                        Para el caso de los usuarios conectados a través de proveedores de identidad
                                        distintos a la Universidad de Córdoba, los datos procederán de dichas redes.
                                        De ellas solo se almacenan un identificador opaco y la dirección de correo
                                        electrónico.
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="ui divider"></div>

                            <div class="ui submit button">Guardar</div>

                            {{ form_widget(form._token) }}
                            {{ form_end(form, {'render_rest': false}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('profile') }}
{% endblock %}
