{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui grid">
        <div class="row">
            <div class="ui inverted horizontal fluid card mobile hidden">
                <div class="image">
                    {% if profile.image.name is not empty %}
                        <img class="right floated mini ui image" src="{{ vich_uploader_asset(profile, 'imageFile') | imagine_filter('squared_thumbnail') }}">
                    {% else %}
                        <img class="right floated mini ui image" src="{{ asset('assets/images/default.png') | imagine_filter('squared_thumbnail') }}">
                    {% endif %}
                </div>
                <div class="content">
                    <span class="header">{{ profile.fullname }}</span>
                    <div class="meta">
                        {{ profile.collective | trans }}
                        {% if profile.degree is not empty %}
                            - {{ profile.degree }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="ui inverted fluid card mobile only">
                <div class="content">
                    <span class="header">
                        <span>{{ profile.fullname }}</span>
                    </span>
                    <div class="meta">
                        {{ profile.collective | trans }}
                        {% if profile.degree is not empty %}
                            - {{ profile.degree }}
                        {% endif %}
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui inverted  two mini horizontal statistics">
                        <div class="statistic">
                            <div class="value">
                                {{ hours }}
                            </div>
                            <div class="label">
                                Horas
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                {{ activities }}
                            </div>
                            <div class="label">
                                Actividades
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% for academic_year, participations in academic_years %}
            <h2 class="ui inverted sub header">Curso {{ academic_year }}</h2>
            <table class="ui inverted compact unstackable table">
                <thead>
                <tr>
                    <th>Título de la actividad</th>
                    <th class="mobile hidden">Rol</th>
                    <th class="mobile hidden">Duración</th>
                </tr>
                </thead>
                <tbody>
                {% set hours = 0 %}
                {% for participation in participations %}
                    {% set hours = hours + participation.duration %}
                <tr>
                    <td>{{ participation.title }}</td>
                    <td class="mobile hidden">{{ participation.role | trans }}</td>
                    <td class="mobile hidden">{{ participation.duration }} horas</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot class="mobile hidden">
                <tr>
                    <th>Total</th>
                    <th>{{ participations | length }} actividades</th>
                    <th>{{ hours }} horas</th>
                </tr>
                </tfoot>
            </table>
            {% else %}
            <table class="ui celled table fluid">
                <thead>
                <tr>
                    <th>Aún no tienes registrada ninguna actividad.</th>
                </tr>
                </thead>
            </table>
            {% endfor %}
        </div>

    </div>

{% endblock %}

