{% macro ribbon(idea) %}
    {% set state = idea.state %}
    {% set createdAt = idea.createdAt %}
    {% if state == 'proposed' and date(createdAt) > date('-2 days') %}
        <span class="ui yellow right ribbon label">{{ state | trans }}</span>
    {% elseif state == 'approved' %}
        <span class="ui green right ribbon label">{{ state | trans }}</span>
    {% elseif state == 'rejected' %}
        <span class="ui red right ribbon label">{{ state | trans }}</span>
    {% endif %}
{% endmacro %}

{% import _self as widgets %}

<div class="row">
    <div class="four wide mobile four wide tablet three wide computer column">
        <div class="ui center aligned basic segment counter">
            <div class="ui card vote">
                <div class="content">
                    <div class="ui small statistic">
                        <div class="value">
                            {{ idea.votes | length }}
                        </div>
                        <div class="label">
                            Votos
                        </div>
                    </div>
                </div>
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="ui animated fluid bottom attached small button" href="{{ path('login') }}">
                    <div class="visible content"><i class="plus icon"></i></div>
                    <div class="hidden content">
                        CONECTAR
                    </div>
                </a>
                {% elseif idea.closed %}
                <div class="ui fluid bottom attached red small button">
                    CERRADA
                </div>
                {% elseif is_granted('OWNER', idea) %}
                <a class="ui fluid bottom attached green small button" href="{{ path('idea_edit', {slug: idea.slug}) }}">
                    EDITAR
                </a>
                {% elseif is_voted(idea) %}
                <a class="ui animated fluid bottom attached green small button leave idea" data-slug="{{ idea.slug }}">
                    <div class="visible content"><i class="users icon"></i></div>
                    <div class="hidden content">
                        SALIR
                    </div>
                </a>
                {% elseif idea.numSeats > 0 and idea.votes.count >= idea.numSeats %}
                    <div class="ui fluid bottom attached red small button">
                        SIN PLAZAS
                    </div>
                {% else %}
                <a class="ui animated fluid bottom attached small button join idea" data-slug="{{ idea.slug }}">
                    <div class="visible content"><i class="plus icon"></i></div>
                    <div class="hidden content">
                        UNIRTE
                    </div>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="twelve wide mobile twelve wide tablet thirteen wide computer column">
        <div class="ui fluid card">
            <div class="content">
                {{ widgets.ribbon(idea) }}
                <a  href="{{ path('idea_show', {'slug': idea.slug}) }}" class="header">
                    {{ idea.title }}
                </a>
                <div class="meta">
                    Enviado {{ idea.createdAt | time_diff }} por {{ idea.owner }} a {{ idea.group }}
                </div>
                <div class="description">
                    {% if complete is defined %}
                        {{ idea.description | raw }}
                    {% else %}
                        {{ idea.description | striptags | truncate(200) }}
                    {% endif %}
                </div>
            </div>
            <div class="extra content">
                <a href="{{ path('idea_show', {slug: idea.slug}) }}#comments">
                    <i class="comment icon"></i>
                    {{ idea_count_comments(idea) }}
                </a>
                &nbsp;
                {% if idea.numSeats > 0 %}
                <span>
                    <i class="add user icon"></i>
                    {{ 'idea_num_seats' | transchoice(idea.numSeats, {'%count%': idea.numSeats}) }}
                </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>