{% macro ribbon(state) %}
    {% if state == 'proposed' %}
        <a class="ui yellow right ribbon label">{{ state | trans }}</a>
    {% elseif state == 'approved' %}
        <a class="ui green right ribbon label">{{ state | trans }}</a>
    {% else %}
        <a class="ui red right ribbon label">{{ state | trans }}</a>
    {% endif %}
{% endmacro %}

{% import _self as widgets %}

<div class="two wide column">
    <div class="ui statistic">
        <div class="value">
            {{ idea.votes | length }}
        </div>
        <div class="label">
            Votos
        </div>
    </div>
</div>
<div class="fourteen wide column">
    <div class="ui fluid card">
        <div class="content">
            {{ widgets.ribbon(idea.state) }}
            <a  href="{{ path('idea_show', {'id': idea.id}) }}" class="header">
                {{ idea.title }}
            </a>
            <div class="meta">
                Enviado {{ idea.createdAt | time_diff }} por {{ idea.owner }} a {{ idea.group }}
            </div>
            <div class="description">
                {{ idea.description | truncate(200) }}
            </div>
        </div>
        <div class="extra content">
            <i class="comment icon"></i>
            {{ idea_count_comments(idea) }}
        </div>
    </div>
</div>
