{% import 'widgets/buttons.html.twig' as buttons %}

<div class="row">
    <div class="ui idea fluid card"
     {% if complete is not defined %}
     style="cursor: pointer" onclick="location.href='{{ path('idea_show', {'slug': idea.slug }) }}'"
     {% endif %}
    >
        <div class="content">
            <!-- vote box -->
            <div class="ui vote basic compact floated left segment center aligned">
                <div class="ui top attached {{ idea.relativeState }} basic label">{{ idea.relativeState | trans | upper }}</div>
                <div class="ui tiny statistic">
                    <div class="value">{{ idea.votes | length }}</div>
                    <div class="label">personas</div>
                </div>
            </div>
            <!-- end vote box -->

            <!-- vote body -->
            <div class="meta send by">
                <a class="group" href="{{ path('idea_group_index', {'slug': idea.group.slug}) }}">{{ idea.group }}</a> {{ 'send_by' | trans({'%owner%': idea.owner.username, '%when%': idea.createdAt | time_diff}) }}
            </div>

            {% if complete is defined %}
                <h1 class="header">{{ idea.title }}</h1>
                <div class="description">{{ idea.description | purify }}</div>
            {% else %}
                <a class="header" href="{{ path('idea_show', {'slug': idea.slug}) }}">{{ idea.title }}</a>
                <div class="description">
                    <div class="summary">{{ idea.description | purify('summary') }}</div>
                </div>
            {% endif %}

            <!-- end vote body -->
        </div>
        <div class="extra content">
            {% if idea.numSeats > 0 %}
                <span>
                    <i class="add user icon"></i>
                    {{ 'idea_num_seats' | trans({'%count%': idea.numSeats}) }}
                </span>
            {% elseif idea.online %}
                <span>
                    <i class="laptop house icon"></i>
                    Evento online
                </span>
            {% else %}
                <span>
                    <i class="add user icon"></i>
                    Plazas ilimitadas
                </span>
            {% endif %}
        </div>
    </div>
</div>
