{% extends "base.html.twig" %}

{% block body %}

    <h1 class="ui header">Editar idea</h1>

    <div class="ui divider"></div>

    <div class="ui grid">
        <div class="two column">
            {{ form_start(form, {method: 'POST', action: path('idea_edit', {'slug': idea.slug})}) }}
            {{ form_widget(form) }}

            <div class="ui divider"></div>

            {#<button class="ui button" type="submit">Enviar</button>#}

            <div class="ui submit button">Guardar</div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('select')
            .dropdown({ fullTextSearch: true })
        ;

        $('.ui.form')
            .form({
                on: 'blur',
                inline : true,
                fields: {
                    idea_title: {
                        identifier: 'idea_title',
                        rules: [{
                            type: 'empty',
                            prompt: 'Indica un título'
                        }, {
                            type: 'minLength[10]',
                            prompt: '{name} debe tener al menos {ruleValue} caracteres'
                        }, {
                            type: 'maxLength[255]',
                            prompt: '{name} no debe tener más de {ruleValue} caracteres'
                        }]
                    },
                    idea_group: {
                        identifier: 'idea_group',
                        rules: [{
                            type: 'empty',
                            prompt: 'Indica un grupo'
                        }]
                    }
                }
            })
        ;
    </script>
{% endblock %}