{% extends "base.html.twig" %}

{% block body %}
    <div class="ui grid">
        <div class="row">
            <div class="ui idea fluid card">
                <div class="content">
                    <div class="two column">
                        {{ form_start(form, {method: 'POST', action: path('idea_send_message', {'slug': idea.slug})}) }}
                        <h1 class="ui header">
                            Mandar mensaje
                            <div class="sub header">{{ idea.title }}</div>
                        </h1>

                        <div class="ui divider"></div>

                        {{ form_widget(form) }}

                        <div class="ui divider"></div>

                        <div class="ui submit button">Enviar</div>
                        <a href="{{ path('idea_show', {slug: idea.slug}) }}" class="ui button">Volver</a>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
