{% extends "base.html.twig" %}

{% import 'widgets/buttons.html.twig' as buttons %}

{% block body %}
    <div class="ui grid">
        {% include('/frontend/idea/_idea.html.twig') %}
    </div>
{% endblock %}

{% block content %}
    <div class="full height">
        <div class="ui main container-fluid segment">
            <div class="ui container vertical stripe">
                <h1 class="ui header">
                    {% if idea.startsAt %}
                        <div class="sub header">{{ idea.startsAt | format_date(pattern="eeee, d 'de' MMMM 'de' yyyy") }}</div>
                    {% endif %}
                    {{ idea.title }}
                    <span class="ui {{ idea.relativeState }} basic label">{{ idea.relativeState | trans | upper }}</span>
                </h1>

                {% if idea.closed %}
                    <div class="ui right floated red basic button">
                        {{ 'closed' | trans | upper }}
                    </div>
                {% elseif not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="ui right floated sign-in primary basic button" href="{{ path('login') }}">
                        <i class="sign-in icon"></i>
                        {{ 'join' | trans | upper }}
                    </a>
                {% elseif is_granted('OWNER', idea) %}
                    <a class="ui right floated green basic button" href="{{ path('idea_edit', {slug: idea.slug}) }}">
                        {{ 'edit' | trans | upper }}
                    </a>
                {% elseif is_voted(idea) %}
                    {{ buttons.js_animated_button('joined', null, 'leave', null, idea.slug, 'green leave idea') }}
                {% elseif idea.numSeats > 0 and idea.votes.count >= idea.numSeats %}
                    <div class="ui right floated red basic button">
                        {{ 'full' | trans | upper }}
                    </div>
                {% elseif is_granted('IDEA_JOIN', idea) %}
                    {{ buttons.js_button('join', 'sign-in', idea.slug, 'primary join idea') }}
                {% else %}
                    <div class="ui right floated red basic button">
                        {{ 'blocked' | trans | upper }}
                    </div>
                {% endif %}

                <h3 class="ui header">
                    {% if idea.owner.image.name is not empty %}
                        <img class="ui avatar image" src="{{ vich_uploader_asset(idea.owner, 'imageFile') | imagine_filter('squared_thumbnail') }}">
                    {% else %}
                        <img class="ui avatar image" src="{{ asset('assets/images/default.png') }}">
                    {% endif %}
                    <div class="content">
                        <div class="sub header">Publicado por</div>
                        {{ idea.owner.alias }}
                    </div>
                </h3>
            </div>
        </div>
        <div class="ui container">
            <div class="ui stackable mobile reversed grid">
                <div class="eleven wide column">

                    {% block flash_messages %}
                        {% if app.session is not null and app.session.started %}
                            {% for type, messages in app.flashes %}
                                {% for message in messages %}
                                    <div class="ui {{ type }} floating message">
                                        {{- message -}}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endblock flash_messages %}

                    <div class="ui fluid card">
                        <div class="content">
                            <div class="description">{{ idea.description | purify }}</div>
                        </div>

                        <div class="extra content">
                            <a href="{{ path('idea_show', {slug: idea.slug}) }}#comments">
                                <i class="comment icon"></i>
                                {{ idea_count_comments(idea) }}
                            </a>
                            {% if idea.numSeats > 0 %}
                                <span>
                                    <i class="add user icon"></i>
                                    {{ 'idea_num_seats' | transchoice(idea.numSeats, {'%count%': idea.numSeats}) }}
                                </span>
                            {% endif %}
                        </div>

                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="extra content">
                                <div class="row">
                                    <div class="column">
                                        <h4 class="ui dividing header">Administrar</h4>

                                        <div class="ui buttons">
                                            {% if idea.closed %}
                                                {{ buttons.js_icon_button('open_idea', 'unlock', idea.slug, 'open idea') }}
                                            {% else %}
                                                {{ buttons.js_icon_button('close_idea', 'lock', idea.slug, 'close idea') }}
                                            {% endif %}
                                            {% if idea.state != constant('App\\Entity\\Idea::STATE_APPROVED') %}
                                                {{ buttons.js_icon_button('approve_idea', 'thumbs up outline', idea.slug, 'approve idea') }}
                                            {% endif %}
                                            {% if idea.state != constant('App\\Entity\\Idea::STATE_REJECTED') %}
                                                {{ buttons.js_icon_button('reject_idea', 'thumbs down outline', idea.slug, 'reject idea') }}
                                            {% endif %}
                                            {{ buttons.icon_button('edit_idea', 'pencil', path('admin_app_idea_edit', {id: idea.id})) }}
                                            {{ buttons.icon_button('idea_send_message', 'mail', path('idea_send_message', {slug: idea.slug})) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div> <!-- card -->

                    <div class="ui segment">
                        <h3 class="ui dividing header">
                            Participantes
                            <div class="sub header">
                                {{ idea.votes | length }} personas
                            </div>
                        </h3>

                        {% for vote in idea.votes %}
                            {% set user = vote.user %}
                            <a class="ui basic image label"
                                {% if is_granted('ROLE_ADMIN') %}
                                    href="{{ path('admin_app_user_show', {'id': user.id}) }}"
                                    data-tooltip="{{ user.username ~ ' - ' ~ user.fullname }}"
                                {% endif %}
                            >
                                {% if user.image.name is not empty %}
                                    <img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('squared_thumbnail') }}">
                                {% else %}
                                    <img src="{{ asset('assets/images/default.png') }}">
                                {% endif %}
                                {{ user.alias }}
                            </a>
                        {% else %}
                            <span class="ui label">No hay participantes</span>
                        {% endfor %}
                    </div>

                    <div class="ui segment">
                        <div class="row">
                            <div class="column">
                                <h3 class="ui dividing header">Comentarios</h3>
                            </div>

                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% include '@FOSComment/Thread/async.html.twig' with {'id': idea.id} %}
                            {% else %}
                                <div class="ui icon message">
                                    <i class="add user icon"></i>
                                    <div class="content">
                                        <div class="header">
                                            ¿Quieres participar?
                                        </div>
                                        <p>
                                            <a href="{{ path('login') }}">Inicia sesión</a> para dejar un comentario.
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div> <!-- column -->

                <div class="five wide column">
                    <div class="ui top attached segment">
                        <h4 class="ui header">
                            <i class="{{ idea.group.icon }} icon"></i>
                            <div class="content">
                                {{ idea.group }}
                                <div class="sub header">
                                    <a href="{{ path('idea_group_index', {'slug': idea.group.slug}) }}">Ver actividades del grupo</a>
                                </div>
                            </div>
                        </h4>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui relaxed list">
                            <div class="item">
                                <i class="large clock middle aligned icon"></i>
                                <div class="content">
                                    <div class="description">
                                        {% if idea.startsAt %}
                                            {{ idea.startsAt | format_date(pattern="eeee, d 'de' MMMM 'de' yyyy") }}
                                        {% else %}
                                            TBA
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <i class="large map marker alternate middle aligned icon"></i>
                                <div class="content">
                                    <div class="description">
                                        {% if idea.location %}
                                            {{ idea.location }}
                                        {% else %}
                                            TBA
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- grid -->
            <div class="ui hidden divider"></div>
        </div>
    </div>
{% endblock %}

{% block side_menu %}
    {{ parent() }}
{% endblock %}

{% block extra %}extra{% endblock %}