{% extends "base.html.twig" %}

{% block body %}
    <div class="ui grid">
        {% include('/frontend/idea/_idea.html.twig') %}

        {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="column">
                <h3 class="ui dividing header">Administrar</h3>

                <div class="ui buttons">
                    {% if idea.closed %}
                        <a class="ui icon button open idea" data-slug="{{ idea.slug }}">
                            <i class="unlock icon"></i>
                            <span class="text mobile hidden">Abrir idea</span>
                        </a>
                    {% else %}
                        <a class="ui icon button close idea" data-slug="{{ idea.slug }}">
                            <i class="lock icon"></i>
                            <span class="text mobile hidden">Cerrar idea</span>
                        </a>
                    {% endif %}
                    {% if idea.state != constant('App\\Entity\\Idea::STATE_APPROVED') %}
                        <a class="ui icon button approve idea" data-slug="{{ idea.slug }}">
                            <i class="thumbs up outline icon"></i>
                            <span class="text mobile hidden">Aprobar idea</span>
                        </a>
                    {% endif %}
                    {% if idea.state != constant('App\\Entity\\Idea::STATE_REJECTED') %}
                        <a class="ui icon button reject idea" data-slug="{{ idea.slug }}">
                            <i class="thumbs down outline icon"></i>
                            <span class="text mobile hidden">Rechazar idea</span>
                        </a>
                    {% endif %}
                        <a class="ui icon button" href="{{ path('admin_app_idea_edit', {id: idea.id}) }}">
                            <i class="pencil icon"></i>
                            <span class="text mobile hidden">Editar idea</span>
                        </a>
                </div>
            </div>
        </div>
        {% endif %}


        <div class="row">
            <div class="column">
                <h3 class="ui dividing header">Participantes</h3>


                {% for vote in idea.votes %}
                    {% set user = vote.user %}
                    <a class="ui basic image label"
                        {% if is_granted('ROLE_ADMIN') %}
                            href="{{ path('admin_app_user_show', {'id': user.id}) }}"
                            data-tooltip="{{ user.fullname }}"
                        {% endif %}
                    >
                        {% if user.image.name is not empty %}
                            <img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('squared_thumbnail') }}">
                        {% else %}
                            <img src="{{ asset('assets/images/default.png') }}">
                        {% endif %}
                        {{ user.username }}
                    </a>
                {% else %}
                    <span class="ui label">No hay participantes</span>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="ui divider" id="comments"></div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include '@FOSComment/Thread/async.html.twig' with {'id': idea.id} %}
    {% else %}
        <div class="ui floating icon message">
            <i class="add user icon"></i>
            <div class="content">
                <div class="header">
                    ¿Quieres participar?
                </div>
                <p>
                    <a href="{{ path('hwi_oauth_connect') }}">Inicia sesión</a> para dejar un comentario.
                </p>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block side_menu %}
    {{ parent() }}

{% endblock %}

