<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    {% block meta_tags %}
        {{- leogout_seo() }}
        <link rel="apple-touch-icon-precomposed" href="{{ asset('apple-touch-icon.png') }}?v=2">
        <link rel="icon" sizes="32x32" href="{{ asset('favicon.ico') }}?v=2">
        <link rel="icon" sizes="256x256" href="{{ asset('favicon.png') }}?v=2">
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body id="body">
<!-- Page Contents -->
<div id="page-container">
    <div class="ui top fixed huge menu">
        <div class="ui fluid container">
            <a class="logo" href="{{ path('homepage') }}"></a>

            {{ render(controller('App\\Controller\\Profile\\ShowGroupMenuEmbedController')) }}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ render(controller('App\\Controller\\Profile\\ShowMenuProfileEmbedController')) }}
            {% else %}
            <div class="floated right borderless item">
                <a class="tiny ui primary button" href="{{ path('login') }}" style="font-size: 0.85714286rem">
                    <i class="sign in icon"></i> Conectar
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    {% block content %}
    <div class="full height">
        <div class="ui main container">
            <div id="main" class="ui vertical stripe segment">
                <div class="ui right dividing rail">
                    <div class="ui vertical stripe">
                        {% block side_menu %}
                        {{ render(controller('App\\Controller\\Idea\\NextScheduledIdeasEmbedController')) }}
                        {{ render(controller('App\\Controller\\Idea\\MoreVotesPendingIdeasEmbedController')) }}
                        {% endblock %}
                    </div>
                </div>

                {% block flash_messages %}
                    {% if app.session is not null and app.session.started %}
                        {% for type, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="ui {{ type }} floating message">
                                    {{- message -}}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endblock flash_messages %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}

    <footer class="ui inverted vertical footer segment">
        <div class="ui container">
            <p>
                Desarrollado por el <a href="https://www.uco.es/aulasoftwarelibre">Aula de Software Libre</a>.
                Hospedado por el <a href="https://consejo-eps.uco.es/">CEEPS</a>.
            </p>
        </div>
    </footer>
</div>
{% block modal %}{% endblock %}
</body>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script>
        $('.dropdown')
            .dropdown({
                on: 'hover'
            })
        ;
    </script>
{% endblock %}

</html>
